Repository dotnet/orleans, pull requests merged in 2018-06, with the labels that each got.

#4645 Update Dependency-Injection.md
  src/Documentation/Core-Features/Dependency-Injection.md
Labels: documentation

#4672 Remove unused settings MaxPendingWorkItemsHardLimit in SchedulingOptions
  src/Orleans.Runtime.Legacy/Configuration/LegacyClusterConfigurationExtensions.cs
  src/Orleans.Runtime/Configuration/Options/SchedulingOptions.cs
  src/Orleans.Runtime/Scheduler/OrleansTaskScheduler.cs
Labels: breaking-change

#4669 Tutorial on Custom Grain Storage for 2.0
  src/Tutorials/Custom-Grain-Storage.md
Labels: documentation

#4399 Remove per-call timer allocation
  src/Orleans.Core/Runtime/CallbackData.cs
  src/Orleans.Core/Runtime/GrainReferenceRuntime.cs
  src/Orleans.Core/Runtime/IRuntimeClient.cs
  src/Orleans.Core/Runtime/OutsideRuntimeClient.cs
  src/Orleans.Core/Runtime/SharedCallbackData.cs
  src/Orleans.Core/Timers/ValueStopwatch.cs
  src/Orleans.Runtime/Core/InsideRuntimeClient.cs
Labels: performance

#4722 Update Adventure.md
  src/Documentation/Samples-Overview/Adventure.md
Labels: documentation

#4716 Fixed intermittent Transaction test failures
  test/Transactions/Orleans.Transactions.Tests/Runners/GoldenPathTransactionTestRunner.cs
Labels: test-issue
