Repository dotnet/orleans, pull requests merged in 2018-07, with the labels that each got.

#4750 Update Server-Configuration.md
  src/Documentation/Deployment-and-Operations/Configuration-Guide/Server-Configuration.md
Labels: documentation

#4746 Update Configuring-AdoNet-Providers.md
  src/Documentation/Deployment-and-Operations/Configuration-Guide/Configuring-AdoNet-Providers.md
Labels: documentation

#4739 Transaction attribution test
  src/Orleans.CodeGeneration/GrainReferenceGenerator.cs
  src/Orleans.Core.Abstractions/CodeGeneration/InvokeMethodRequest.cs
  src/Orleans.Core.Abstractions/Transactions/TransactionAttribute.cs
  src/Orleans.Core/CodeGeneration/GrainInterfaceUtils.cs
  src/Orleans.Core/Messaging/MessageFactory.cs
  src/Orleans.Transactions/Abstractions/ITransactionParticipantExtension.cs
  test/Grains/BenchmarkGrainInterfaces/Transaction/ITransactionGrain.cs
  test/Grains/BenchmarkGrainInterfaces/Transaction/ITransactionRootGrain.cs
  test/Transactions/Orleans.Transactions.Tests/Grains/ITransactionAttributionGrain.cs
  test/Transactions/Orleans.Transactions.Tests/Grains/ITransactionCoordinatorGrain.cs
  test/Transactions/Orleans.Transactions.Tests/Grains/ITransactionTestGrain.cs
  test/Transactions/Orleans.Transactions.Tests/Grains/ITransactionalBitArrayGrain.cs
  test/Transactions/Orleans.Transactions.Tests/Grains/TransactionAttributionGrain.cs
  test/Transactions/Orleans.Transactions.Tests/Memory/TransactionAttributionTest.cs
  test/Transactions/Orleans.Transactions.Tests/Runners/SkewedClock.cs
  test/Transactions/Orleans.Transactions.Tests/Runners/TransactionAttributionTestRunner.cs
Labels: bug, testing

#4755 DeadlockDetectionWithoutAllowCallChainReentrancyTests
  test/TesterInternal/DeadlockDetectionWithAllowCallChainReentrancyTests.cs
  test/TesterInternal/DeadlockDetectionWithoutAllowCallChainReentrancyTests.cs
Labels: testing

#4747 Small spelling fix in Heterogeneous-Silos.md
  src/Documentation/Deployment-and-Operations/Heterogeneous-Silos.md
Labels: documentation

#4761 Moved request invocation history to core.
  src/Orleans.Core/Messaging/RequestInvocationHistory.cs
Labels: bug

#4743 Update Grain-Persistence.md - fix typo
  src/Documentation/Core-Features/Grain-Persistence.md
Labels: documentation
